<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sele906.api.library.mapper.LibraryMapper">

    <select id="findOne"
            resultType="Library">
        SELECT *
        FROM library
        LIMIT 1
    </select>

    <insert id="upsertLibrary">
        INSERT INTO library (
            lib_code,
            name,
            address,
            tel,
            fax,
            homepage,
            latitude,
            longitude,
            closed_days,
            operating_time,
            book_count,
            location
        )
        VALUES (
            #{libCode},
            #{name},
            #{address},
            #{tel},
            #{fax},
            #{homepage},
            #{latitude},
            #{longitude},
            #{closedDays},
            #{operatingTime},
            #{bookCount},

        <choose>
            <when test="latitude != null and longitude != null">
                ST_SetSRID(
                ST_MakePoint(#{longitude}, #{latitude}),
                4326
                )::geography
            </when>
            <otherwise>
                NULL
            </otherwise>
        </choose>
        )

        ON CONFLICT (lib_code)
        DO UPDATE SET
        name = EXCLUDED.name,
        address = EXCLUDED.address,
        tel = EXCLUDED.tel,
        fax = EXCLUDED.fax,
        homepage = EXCLUDED.homepage,
        latitude = EXCLUDED.latitude,
        longitude = EXCLUDED.longitude,
        location = EXCLUDED.location,
        closed_days = EXCLUDED.closed_days,
        operating_time = EXCLUDED.operating_time,
        book_count = EXCLUDED.book_count,
        updated_at = NOW()
    </insert>

    <!--  새 데이터 추가시 빈 지역컬럼 자동화하는 쿼리도 있으면 좋음  -->

    <sql id="searchWhere">
        <where>
            <!-- 도서관 이름 유효성 검사 -->
            <if test="keyword != null and keyword != ''">
                AND name ILIKE CONCAT('%', #{keyword}, '%')
            </if>

            <!-- 지역 코드 유효성 검사 -->
            <if test="regionCode != null and regionCode != ''">
                AND region_code = #{regionCode}
            </if>

            <!-- 세부 지역 코드 유효성 검사 -->
            <if test="dtlRegionCode != null and dtlRegionCode != ''">
                AND dtl_region_code = #{dtlRegionCode}
            </if>

            <!-- 사용자와 #{radius} 이내 도서관 출력 -->
            <if test="latitude != null and longitude != null">
                AND ST_DWithin(
                location,
                ST_SetSRID(ST_MakePoint(#{longitude}, #{latitude}), 4326)::geography,
                #{radius}
                )
            </if>
        </where>
    </sql>

    <select id="searchLibraries" resultType="LibrarySearchItem">
        SELECT
            lib_code, name,
            address,
            tel,
            fax,
            homepage,
            latitude,
            longitude,
            closed_days,
            operating_time,
            book_count,
            dtl_region_code,
            <choose>
                <when test="latitude != null and longitude != null">
                    ST_Distance(
                    location,
                    ST_SetSRID(
                    ST_MakePoint(#{longitude}, #{latitude}),
                    4326
                    )::geography
                    ) AS distance
                </when>
                <otherwise>
                    NULL AS distance
                </otherwise>
            </choose>

        FROM library

        <include refid="searchWhere"/>

        ORDER BY
            distance,
            name

        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countLibraries" resultType="int">
        SELECT COUNT(*)
        FROM library
        <include refid="searchWhere"/>
    </select>

    <select id="getLibraryByLibCode" resultType="Library">
        SELECT
            lib_code,
            name,
            address,
            tel,
            fax,
            homepage,
            latitude,
            longitude,
            closed_days,
            operating_time,
            book_count,
            region_code,
            dtl_region_code
        FROM library
        WHERE lib_code = #{libCode}
    </select>

</mapper>